@import "reset";

img {
  max-width: 100%; /* 이미지 깨짐 방지 */
  vertical-align: top; /* 이미지 공백 없애기 */
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/**************** header 영역 시작 *****************/

header {
  position: relative; /* 드롭 다운 메뉴 부모 선언 */
  background: #fff;

  .top-header {
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 33px;

      .links {
        display: flex;

        a {
          display: flex; /* a요소를 블록 개념으로 만들어줌 */
          font-size: 12px;
          color: #666;
          padding: 0 10px;

          &.login {
            border: 1px solid #c2c2c2;
            padding: 0 8px;
          }
        }
      }
    }
  }

  .main-header {
    border-bottom: 1px solid #ddd;

    .container {
      display: flex;
      justify-content: space-between; /* 자식요소들(logo, gnb가 비율에 맞게 벽쪽으로 붙음) */
      align-items: center;
      height: 68px;

      .gnb {
        display: flex;
        align-items: center;

        nav {
          display: flex;

          .nav-div {
            &:hover { /* &는 자기 자신에게 css를 줄 수 있음 '.nav-div를 hover했을 때라는 뜻' */
              .dropdown {
                max-height: 1000px;
                transition: max-height 2s;
                border-bottom: 1px solid #ddd;
              }
            }

            .nav-item {
              display: flex;
              align-items: center;
              font-size: 14px;
              padding: 0 6px;
              color: #000;
              height: 68px;
            }

            .blue {
              color: #1f75d6;
            }

            .dropdown {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              background: #fff;
              max-height: 0;
              overflow: hidden;


              .container {
                height: auto;

                ul {
                  display: flex;
                  padding: 30px 0;

                  li {
                    padding-right: 30px;

                    .sub-category {
                      margin-bottom: 10px;
                    }

                    a {
                      display: flex;
                      font-size: 14px;
                      color: #666;
                      padding: 5px 0;
                    }
                  }
                }
              }
            }
          }
        }

        .btn-search {
          padding: 0 0 0 8px;
        }
      }
    }
  }
}

/**************** section 영역 시작 *****************/

section.post {
  background: #f2f3f6;
  padding: 88px 0;

  .title-area {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈이 되게 하는 속성 */
    li {
      width: 25%; /* 한 줄에 4개씩 비율 맞춰서 출력 */
      padding: 15px;

      .item {
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.15);
        transition: 0.3s;

        &:hover {
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.25);
        }

        .thumb {

        }

        .desc {
          padding: 15px;
          background: #fff;
          h3 {
            font-size: 18px;
            text-transform: capitalize;
            color: #333;
            font-weight: 600;
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            color: #666;
            line-height: 1.4;
          }
        }
      }
    }
  }
}