@import "reset";

img {
  max-width: 100%; /* 이미지 깨짐 방지 */
  vertical-align: top; /* 이미지 공백 없애기 */
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  .top-header {
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 33px;

      .links {
        display: flex;
        a{
          display: flex; /* a요소를 블록 개념으로 만들어줌 */
          font-size: 12px;
          color: #666;
          padding: 0 10px;

          &.login {
            border: 1px solid #c2c2c2;
            padding: 0 8px;
          }
        }
      }
    }
  }

  .main-header {
    .container {
      display: flex;
      justify-content: space-between; /* 자식요소들(logo, gnb가 비율에 맞게 벽쪽으로 붙음) */
      align-items: center;
      height: 68px;

      .gnb {
        display: flex;
        nav {
          .nav-item {
            font-size: 14px;
            padding: 0 6px;
            color: #000;
          }
          a:nth-child(2) {
            color: #4898f1;
          }
        }

        .btn-search {
          padding: 0 0 0 8px;
        }
      }
    }
  }
}
